/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.yellow, .navbar-menu a:hover {
  color: #e1aa40;
}

.light-green {
  color: #29b578;
}

.white {
  color: #ffff;
}

.grey {
  color: #96a4a3;
}

.semi-bold {
  font-weight: 600;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing {
  letter-spacing: 3px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 80px;
  font-family: 'Kristi', cursive;
}

h4 {
  font-family: 'Source Serif Pro', serif;
  font-size: 40px;
}

h5 {
  font-family: 'Source Serif Pro', serif;
  font-size: 28px;
}

/* Header */

header  {
  position: relative;
  height: 700px;
  background-image: url('../img/hero-07-2x.jpg');
  background-size: cover;
}

.col-xs-12 > h3 {
  font-size: 20px;
  color: #b0aaaa;
  font-style: italic;
}

.row-navbar {
  margin-left: 50px;
  margin-right: 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(290deg, rgba(0,0,0,1) 3%, rgba(250,250,250,0) 100%);
  background: -o-linear-gradient(290deg, rgba(0,0,0,1) 3%, rgba(250,250,250,0) 100%);
  background: linear-gradient(20deg, rgba(0,0,0,1) 3%, rgba(250,250,250,0) 100%);
}

.navbar-menu {
  display: inline-block;
  padding: 0 20px;
}

.navbar-menu a {
  transition: all .2s;
}

#link-navbar {
  position: relative;
}

.hover-effect-navbar {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  background-color: #e1aa40;
  height: 6px;
}

.stretch-enter-active,
.stretch-leave-active  {
  transition: width .5s;
}

.stretch-enter,
.stretch-leave-to {
  width: 0%;
  left: 50%;
}

.jumbotron-text {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 140%;
  font-size: 31px;
}

.jumbotron-text + p {
  font-size: 20px;
}

.arrow-jumbo {
  display: flex;
  padding-bottom: 150px;
}

.arrow-left-jumbo, .arrow-right-jumbo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: black;
}

.arrow-jumbo a:hover {
  color: white;
}

.latest-book-release {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 360px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
}

.latest-book-release-text {
  width: calc(100% - 300px);
  align-self: center;
}

#amazon-button, #appstore-button {
  padding: 10px 62px;
  background-color: white;
  border: 1px solid #80d0d6;
}

#amazon-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#amazon-button:focus , #appstore-button:focus {
  outline: none;
}

#amazon-button:hover, #appstore-button:hover {
  border: 1px solid #3da698;
  cursor: pointer;
}

#appstore-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Sezione about */

.about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.about-text p {
  font-size: 24px;
}

.btn-success {
  background-color: #29b578
}

.btn-success:hover {
  background-color: #13774a;
}

/* Sezione audiobook */

#audiobook {
  background-image:url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.audiobook-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audiologo {
  padding: 10px;
}

.backgroundlog {
  background-color: #fef7e9;
}

.logAbout {
  padding: 50px;
  max-width: 1140px;
  margin-left: 180px;
}

/* Sezione critics */

#critics {
  height: 800px;
}

.text-uppercase.light-green.semi-bold {
  letter-spacing: 3px;
}

.btn-warning {
  padding: 10px 30px;
  background-color: #e2af14;
}

.btn-warning:hover {
  color: white;
}

.best-authors {
  max-width: 100%;
  height: 650px;
  background-image:url('../img/testimonial2-2x.jpg');
  border-radius: 0 0 90px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.best-authors:hover {
  transform: scale(1.04);
}

.overlay-authors {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 90px 0;
  display: flex;
  align-items: center;
}

.text-authors {
  padding: 40px;
}

.hr {
  width: 92%;
  height: 1px;
  background-color: white;
}

.text-authors img {
  width: 50px;
  height: 50px;
}

.text-authors span {
  font-size: 18px;
}

.text-authors p {
  font-size: 16px;
}

.authors-review {
  width: 100%;
  height: 290px;
  background-color: #fef7e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.logos {
  width: 30px;
  height: 30px;
}

.journalists {
  display: flex;
  align-items: center;
}

.journalist-name {
  margin-left: 20px;
}

/* Sezione upcoming events */

#upcoming-events {
  background-color: #fef7e9;
}

.event {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event-text {
  background-color: white;
  padding: 20px;
}

.event-image {
  width: 100%;
}

.event-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

/* newsletter */

#newsletter {
  background-image:url('../img/banner-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
}

.btn-news {
  display: inline-block;
  padding: 10px;
  height: 42px;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #49a987;
  color: #ffff;
}

.newsletter-text {
  font-size: 17px;
  color: #bab8b8;
}

input {
  height: 38px;
  border-radius: 6px;
  padding: 17px;
  width: 70%;
}

/* Author information */

.author-row {
  justify-content: center;
}

.box-author-info {
  width: 100%;
  height: 450px;
  border-radius: 0 0 40px 0;
}

.box-1-author-info {
  background-image: url('../img/20-Tips-1200x706.jpg');
  background-size: cover;
}

.box-1-author-info:hover {
  transform: scale(1.04);
}

.box-2-author-info {
  background-image: url('../img/box-4.jpg');
  background-size: cover;
}

.box-2-author-info:hover {
  transform: scale(1.04);
}

.box-3-author-info {
  background-image: url('../img/box-2.jpg');
  background-size: cover;
}

.box-3-author-info:hover {
  transform: scale(1.04);
}

.overlay-box-author-info{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(9deg, rgba(0,0,0,0.804359243697479) 0%, rgba(250,250,250,0) 100%);
  border-radius: 0 0 40px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.hr-author-info {
  width: 15%;
  background: white;
  height: 1px;
}

/* Author information */

#recent-articles {
  background-color: #fef7e9;
}

.creativity-tips {
  width: 115%;
  height: 650px;
  background: white;
  padding: 30px;
}

.creativity-image {
  width: 100%;
  height: 350px;
  background-image: url('../img/creativity.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creativity-text {
  padding: 20px;
}

.creativity-text p {
  color: #5b5858;
}

.creativity-box {
  width: 79%;
  height: 650px;
  background-color: #ffff;
  padding: 30px;
  margin-left: 95px;
}

.first-creativity-box {
  width: 100%;
  height: 200px;
  background-image: url('../img/thumb-13-2x-320x202.jpg');
  background-size: cover;
  background-position: center;
}

.second-creativity-box {
  width: 100%;
  height: 200px;
  background-image: url('../img/thumb-08-2x-320x202.jpg');
  background-size: cover;
  background-position: center;
}

/* Footer */

footer {
  height: 400px;
  background-image: url('../img/hero-07-2x.jpg');
  background-size: cover;
}

.logofoter {
  height: 130px;
  width: 130px;
}

.aboutMe {
  margin-left: 30px;
}

.aboutmeTitle {
  margin-top: 80px;
  color: #ffff;
  margin-left: 40px;
  font-weight: bold;
}

.aboutmeText {
  color: #cccccc;
  font-size: 16px;
  margin-left: 40px;
}

.aboutmeText li {
  line-height: 35px;
}

.logofoot{
  margin-left: 40px;
  margin-top: 60px;
}

.links {
  margin-left: 60px;
  margin-top: 80px;
  color: #ffff;
  padding: 10px 0 10px 10px;
}

.usefulTitle {
  margin-top: 75px;
  color: #ffff;
  margin-left: 40px;
  font-weight: bold;
}

.links > li {
  margin-bottom: 10px;
}

.usefulText {
  margin-top: 7px;
  color: #f4a700;
  font-size: 16px;
  margin-left: 40px;
  font-family: "DM Sans";
}

.footer-text {
  letter-spacing: 15px;
}

.conctactEmal {
  font-family: "DM Sans";
  color: #f4a700;
}

.email-color:hover {
  color: #f4a700;
}

.col-xs-4 > span {
  margin-top: 50px;
  color: #ffff;
  margin-left: 200px;
  margin-bottom: 30px;
}

.contactinfo {
  margin-left: 160px;
}

.usefulLinks {
  margin-left: 50px;
  line-height: 35px;
}

.overlay > .row {
  margin-right: 0
}

.social-account{
  align-items: center;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
  color: #f4a700;
}

.social{
  width: 100px;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding{
  padding: 0 25px;
}

.social-spacing {
  margin-right: 15px;
}

.copyright {
  font-size: 13px;
  color: #aaaaaa;
  text-align: center;
}

.link-color:hover{
  color: #f4a700;
}

/* Try Buy Box */

.try-buy {
  position: fixed;
  top: 150px;
  right: 15px;
  z-index: 1;
}

.try-buy i {
  font-size: 24px;
  color: #33475b;
}

.try,
.buy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(1, 1, 1, .2);
  cursor: pointer;
  font-size: 14px;
  color: #4a5259;
}

.try {
  margin-bottom: 10px;
}

.buy .price {
  position: relative;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 700;
  color: #65bc7b;
}

.buy .price::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  font-size: 14px;
  content: '$';
}

.try-scroll-wrapper,
.buy-scroll-wrapper {
  overflow: hidden;
  max-width: 100%;
}

.try-scroll-wrapper i {
  margin-left: 19px;
  margin-top: 7px;
}

.buy-scroll-wrapper span {
  margin-left: 20px;
}

.buy-scroll-wrapper i {
  margin-left: 10px;
  margin-top: 7px;
}

.buy:hover .scroll,
.try:hover .scroll {
  transform: translateX(-50px);
}

.scroll {
  width: 200%;
  left: 0;
  transition: .1s ease-in;
}
