<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Author</title>
  </head>
  <body>
    <div id="app">
      <!-- <header> -->
      <header>
        <div class="overlay">
          <div class="container-fluid">
            <div class="row justify-content-between row-navbar">
              <div class="col-xs-4 offset-xs-2">
                  <img src="img/author-logo-round-small.png" alt="">
              </div>
              <div class="col-xs-4 offset-xs-2 pt-30">
                <ul>
                  <li v-for="(navbarTitle, index) in navbar" class="white semi-bold navbar-menu"
                      @mouseover="navbarTitle.hover = true"
                      @mouseleave="navbarTitle.hover = false">
                    <a href="#" id="link-navbar">
                      {{navbarTitle.menuTitle}}
                      <transition name="stretch" appear>
                        <div v-if="navbarTitle.hover == true"
                             class="hover-effect-navbar">
                        </div>
                      </transition>
                    </a>
                  </li>
                  <li class="white semi-bold navbar-menu">
                    <a href="#">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  </li>
                </ul>
               </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-between mt-50">
              <div class="col-xs-12 col-md-6">
                <h1 class="yellow">Damon Vaughn</h1>
                <h5 class="white mt-20 bold jumbotron-text">
                  Best-selling author and the most influential public
                  intellectual in the western world right now.
                </h5>
                <h3>- The New York Times</h3>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Sezione about -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 about-text">
              <h1 class="yellow">More About Damon Vaughn</h1>
                <p class="mt-20 text-center">
                  Damon Vaughn is a professor of psychology at the University of Toronto, a clinical psychologist and the author of the multi-million copy bestseller "The story of my life"
                </p>
                <button type="button" name="button" class="btn btn-success mt-20">Meet The Author</button>
            </div>
          </div>
          <div class="row mt-100 pb-50">
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/ebay-logotan-2x-200x66.png" alt="logo-ebay">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/audible-logotan-2x-200x66.png" alt="logo-audible">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/bb-logotan-2x-200x66.png" alt="logo-barnes">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <a href="#">
                <img src="img/kindlefire-logotan-2x-200x66.png" alt="logo-kindle">
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione audiobook-->
      <section id="audiobook" >
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-xs-12 col-md-4 col-md-offset-2 mt-75">
              <img src="img/audible-app-2x-400x418.png" alt="">
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 audiobook-text mt-75">
              <h4>New Audiobook</h4>
              <p class="text-uppercase yellow font-weight-bold">
                no time to read? no problem. listen to it
              </p>
              <p class="font-weight-light text-center">
                Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt.
                Maecenas eleifend congue cursus.
              </p>
              <div class="col-xs-12">
                <img class="audiologo" src="img/audible-logo.png" alt="">
                <img src="img/bn-logo-tall.jpg" alt="">
                <img class="audiologo" src="img/kindle-logo-tall.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione critics-->
      <section id="critics" class="mb-100">
        <div class="container">
          <div class="row mt-75">
            <div class="col-xs-12 col-sm-6">
              <h4 class="font-weight-bold text-capitalize">what the critics says</h4>
              <p class="text-uppercase light-green semi-bold">testimonials from around the world</p>
            </div>
            <div class="col-xs-12 col-sm-6 align-self-center text-right">
              <button type="button" name="button" class="btn btn-warning white">Read All Testimonials</button>
            </div>
          </div>
          <div class="row mt-50">
            <div class="col-xs-12 col-md-7">
              <div class="best-authors">
                <div class="overlay-authors">
                  <div class="text-authors">
                    <h4 class="text-capitalize white semi-bold">best author of his generation</h4>
                      <div class="hr mt-20 text-left"></div>
                      <h5 class="white mt-20 semi-bold">This book will change your perspective on life</h5>
                      <p class="mt-20 white semi-bold">Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt. Maecenas eleifend congue cursus. In vitae enim quis sem pharetra. Curabitur arcu erat, accusman id imperdiet et, porttitor at sem.</p>
                      <p class="mt-20 white semi-bold">Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut liber. Pron eget tortor risus. Present sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada.</p>
                      <img src="img/nyt-logo.png" alt="logo new york times">
                      <span class="white semi-bold">Justine Kilpatrick,</span>
                      <span class="text-capitalize light-green semi-bold">the new york times</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-5">
              <div class="authors-review">
                  <h5 class="text-capitalize semi-bold">a true masterpiece, bravo!</h5>
                  <p class="text-center">Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut libero malesuada feug at</p>
              </div>
              <div class="journalists">
                  <img class="logos mt-20" src="img/guardian-logo.png" alt="logo the guardian">
                  <span class="semi-bold mt-20 journalist-name">Gerald Hendley, The Guardian</span>
              </div>
              <div class="authors-review mt-20">
                  <h5 class="text-capitalize semi-bold">a unique view on the world</h5>
                  <p class="text-center">Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut libero malesuada feug at</p>
              </div>
              <div class="journalists">
                  <img class="logos mt-20" src="img/the-globe-and-mail.png" alt="logo the globe and mail">
                  <span class="semi-bold mt-20 journalist-name text-capitalize">mary maxey, the globe and mail</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione upcoming events -->
      <section id="upcoming-events" class="pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12" >
                    <h4 class="text-capitalize mt-50">upcoming events</h4>
                    <p class="text-uppercase yellow text-center semi-bold letter-spacing">meet the author in person</p>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-05.jpg" alt="primo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">chicago book signin</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-04.jpg" alt="secondo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">meet & greet with amanda</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-07.jpg" alt="terzo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">open book: dialogues</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
            </div>
        </div>


      </section>


    </div>

  <script type="text/javascript" src="./js/script.js"></script>
  </body>
</html>
