<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Author</title>
  </head>
  <body>
    <div id="app">
      <!-- header -->
      <header>
        <div class="overlay">
          <div class="container-fluid">
            <div class="row justify-content-between row-navbar">
              <div class="col-xs-4 offset-xs-2">
                  <img src="img/author-logo-round-small.png" alt="">
              </div>
              <div class="col-xs-4 offset-xs-2 pt-30">
                <ul>
                  <li v-for="(navbarTitle, index) in navbar" class="white semi-bold navbar-menu"
                      @mouseover="navbarTitle.hover = true"
                      @mouseleave="navbarTitle.hover = false">
                    <a href="#" id="link-navbar">
                      {{navbarTitle.menuTitle}}
                      <transition name="stretch" appear>
                        <div v-if="navbarTitle.hover == true"
                             class="hover-effect-navbar">
                        </div>
                      </transition>
                    </a>
                  </li>
                  <li class="white semi-bold navbar-menu">
                    <a href="#">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  </li>
                </ul>
               </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xs-12 col-md-6">
                <h1 class="yellow">Damon Vaughn</h1>
                <h5 class="white mt-20 bold jumbotron-text">
                  Best-selling author and the most influential public
                  intellectual in the western world right now.
                </h5>
                <p class="grey text-capitalize mt-20 pb-20">- the new york time</p>
                  <div class="arrow-jumbo">
                    <div class="arrow-left-jumbo">
                      <a href="#"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="arrow-right-jumbo">
                      <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="latest-book-release">
          <div class="row pb-20">
            <img src="img/book-widget.png" alt="book">
            <div class="latest-book-release-text">
              <h5 class="text-capitalize semi-bold">latest book release</h5>
              <h6 class="yellow text-uppercase semi-bold">d. vaughn autobiography</h6>
              <p>Vestibulum tristique turpis in ipsum egestas lobortis. Duis maximus bibenedum voluptat. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="row">
            <button id="amazon-button" type="button" name="button" class="semi-bold"><i class="fab fa-amazon"></i> Buy On Amazon</button>
            <button id="appstore-button" type="button" name="button" class="semi-bold"><i class="fab fa-apple"></i> Buy On AppStore</button>
          </div>
        </div>
      </header>
      <!-- Sezione about -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 about-text">
              <h1 class="yellow">More About Damon Vaughn</h1>
                <p class="mt-20 text-center">
                  Damon Vaughn is a professor of psychology at the University of Toronto, a clinical psychologist and the author of the multi-million copy bestseller "The story of my life"
                </p>
                <button type="button" name="button" class="btn btn-success mt-20">Meet The Author</button>
            </div>
          </div>
        </div>
        <div class="backgroundlog">
          <div class="row mt-100 logAbout">
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/ebay-logotan-2x-200x66.png" alt="logo-ebay">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/audible-logotan-2x-200x66.png" alt="logo-audible">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 sponsor">
              <a href="#">
                <img src="img/bb-logotan-2x-200x66.png" alt="logo-barnes">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <a href="#">
                <img src="img/kindlefire-logotan-2x-200x66.png" alt="logo-kindle">
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione audiobook-->
      <section id="audiobook" >
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-xs-12 col-md-4 col-md-offset-2 mt-75">
              <img src="img/audible-app-2x-400x418.png" alt="">
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 audiobook-text mt-75">
              <h4>New Audiobook</h4>
              <p class="text-uppercase yellow font-weight-bold">
                no time to read? no problem. listen to it
              </p>
              <p class="font-weight-light text-center">
                Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt.
                Maecenas eleifend congue cursus.
              </p>
              <div class="col-xs-12">
                <img class="audiologo" src="img/audible-logo.png" alt="">
                <img src="img/bn-logo-tall.jpg" alt="">
                <img class="audiologo" src="img/kindle-logo-tall.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione critics-->
      <section id="critics" class="mb-100">
        <div class="container">
          <div class="row mt-75">
            <div class="col-xs-12 col-sm-6">
              <h4 class="font-weight-bold text-capitalize">what the critics says</h4>
              <p class="text-uppercase light-green semi-bold">testimonials from around the world</p>
            </div>
            <div class="col-xs-12 col-sm-6 align-self-center text-right">
              <button type="button" name="button" class="btn btn-warning white">Read All Testimonials</button>
            </div>
          </div>
          <div class="row mt-50">
            <div class="col-xs-12 col-md-7">
              <div class="best-authors">
                <div class="overlay-authors">
                  <div class="text-authors">
                    <h4 class="text-capitalize white semi-bold">best author of his generation</h4>
                      <div class="hr mt-20 text-left"></div>
                      <h5 class="white mt-20 semi-bold">This book will change your perspective on life</h5>
                      <p class="mt-20 white semi-bold">Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt. Maecenas eleifend congue cursus. In vitae enim quis sem pharetra. Curabitur arcu erat, accusman id imperdiet et, porttitor at sem.</p>
                      <p class="mt-20 white semi-bold">Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut liber. Pron eget tortor risus. Present sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada.</p>
                      <img src="img/nyt-logo.png" alt="logo new york times">
                      <span class="white semi-bold">Justine Kilpatrick,</span>
                      <span class="text-capitalize light-green semi-bold">the new york times</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-5">
              <div class="authors-review">
                <h5 class="text-capitalize semi-bold">a true masterpiece, bravo!</h5>
                <p class="text-center">Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut libero malesuada feug at</p>
              </div>
              <div class="journalists">
                <img class="logos mt-20" src="img/guardian-logo.png" alt="logo the guardian">
                <span class="semi-bold mt-20 journalist-name">Gerald Hendley, The Guardian</span>
              </div>
              <div class="authors-review mt-20">
                <h5 class="text-capitalize semi-bold">a unique view on the world</h5>
                <p class="text-center">Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget felis porttitor voluptat. Nulla quis lorem ut libero malesuada feug at</p>
              </div>
              <div class="journalists">
                <img class="logos mt-20" src="img/the-globe-and-mail.png" alt="logo the globe and mail">
                <span class="semi-bold mt-20 journalist-name text-capitalize">mary maxey, the globe and mail</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sezione upcoming events -->
      <section id="upcoming-events" class="pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12" >
                    <h4 class="text-capitalize mt-50">upcoming events</h4>
                    <p class="text-uppercase yellow text-center semi-bold letter-spacing">meet the author in person</p>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-05.jpg" alt="primo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">chicago book signin</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-04.jpg" alt="secondo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">meet & greet with amanda</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 event">
                    <img class="event-image" src="img/event-07.jpg" alt="terzo evento">
                    <div class="event-text">
                      <h5 class="text-capitalize text-center mt-20 event-name">open book: dialogues</h5>
                      <hr>
                      <p class="text-center mt-50">
                         Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.Mauris blandit aliquet elit, eget tincidunt nibh  pulvinar a nulla
                      </p>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- newsletter -->
      <section id="newsletter" >
        <div class="overlay">
          <div class="container">
            <div class="row justify-content-around">
              <div class="col-xs-12 col-md-5 col-md-offset-1 audiobook-text mt-100">
                <h4>Subscribe To My</h4>
                <h4>Newsletter</h4>
                <p class="text-uppercase yellow font-weight-bold ">
                  BE NOTIFIED ABOUT BOOK SIGNING TOUR DATES
                </p>
                <div class="col-xs-12">
                  <input type="text" name="" value="" placeholder=" Insert your email...*">
                  <button type="button" name="button" class="btn btn-success">Subscribe</button>
                </div>
                <p class="newsletter-text font-weight-light text-center mt-20 pb-100">
                  Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Author information  -->
      <section id="author-information">
        <div class="container">
            <div class="row author-row">
              <div class="col-xs-12">
                  <h4 class="text-capitalize mt-75">dig a little deeper into damon vaughn</h4>
                  <p class="text-uppercase text-center semi-bold letter-spacing">find out more about the author</p>
              </div>
            </div>
            <div class="row mt-75 pb-50">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-author-info box-1-author-info">
                        <div class="overlay-box-author-info">
                            <h5 class="text-capitalize white event-name">about me</h5>
                            <div class="hr-author-info mt-10"></div>
                            <p class="yellow mt-20 semi-bold pb-20">Vestibulum ante ipsum primis</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-author-info box-2-author-info">
                        <div class="overlay-box-author-info">
                            <h5 class="text-capitalize white event-name">my latest book</h5>
                            <div class="hr-author-info mt-10"></div>
                            <p class="yellow mt-20 semi-bold pb-20">Vestibulum ante ipsum primis</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-author-info box-3-author-info">
                        <div class="overlay-box-author-info">
                            <h5 class="text-capitalize white event-name">book signing</h5>
                            <div class="hr-author-info mt-10"></div>
                            <p class="yellow mt-20 semi-bold pb-20">Vestibulum ante ipsum primis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Author information  -->
    <section id="recent-articles">
      <div class="container pb-100">
        <div class="row pt-50">
          <div class="col-xs-12 col-sm-6">
            <h4 class="font-weight-bold text-capitalize">recent articles</h4>
            <p class="text-uppercase light-green semi-bold">read the latest entries</p>
          </div>
          <div class="col-xs-12 col-sm-6 align-self-center text-right">
            <button type="button" name="button" class="btn btn-warning white text-capitalize">all articles</button>
          </div>
        </div>
        <div class="row mt-50">
          <div class="col-xs-12 col-md-7">
            <div class="creativity-tips">
              <div class="creativity-image">
              </div>
              <div class="creativity-text">
                <h5 class="event-name text-capitalize mt-20">20 creativity tips</h5>
                <small>By admin | October 24th, 2019 | Categories: Event, Tips & Tricks</small>
                <p class="mt-10">Vestibulum ante ipsum primis in facibus orci loctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcopter sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-5">
            <div class="creativity-box">
              <div class="first-creativity-box"></div>
                <h5 class="event-name text-capitalize mt-20">what's on your booklist?</h5>
                <small>October 24th, 2019 | 0 Comments</small>
                <div class="second-creativity-box mt-20"></div>
                  <h5 class="event-name text-capitalize mt-20">what's on your booklist?</h5>
                  <small>October 24th, 2019 | 0 Comments</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <footer>
        <div class="overlay">
          <div class="row">
            <div class="col-xs-12 logofoot">
                <img class="logofoter"src="img/author-logo-round-small.png" alt="">
            </div>
            <div class="col-xs-12 aboutMe">
                <div class="aboutmeTitle">
                  ABOUT ME
                </div>
                <div class="aboutmeText mt-20">
                  Vivamus suscipit tortor eget felis<br> porttitor volutpat. Nulla quis lorem ut libero<br> malesuada feugiat. Vivamus suscipit tortor<br> eget felis porttitor volutpat.
                </div>
            </div>
            <div class="col-xs-12 usefulLinks">
                <div class="usefulTitle">
                  USEFUL LINKS
                </div>
                <div class="usefulText">
                  <ul>
                    <li v-for="element in footer" class="link">
                      <a href="#"> <i class="fas fa-chevron-right footer-text"></i> {{element.menuTitle}} </a>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-12 contactinfo">
                <div class="aboutmeTitle">
                  CONTACT INFO
                </div>
                <div class="aboutmeText mt-20">
                  <ul>
                    <li>63 E. Studebaker Street Bolingbrook, IL 60440</li>
                    <li>Phone: (800) 000-0000</li>
                    <li>Mobile: (800) 000-0000</li>
                    <li>Email: <a class="email-color"href="#">info@your-company.com</a></li>
                  </ul>
                </div>
                <div class="social-account padding flex-between">
                  <div class="social flex-between">
                    <a v-for="icon in socials" :href="icon.link"> <i :class="icon.social" class="social-spacing"> </i></a>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 copyright">
            © Copyright 2012 - 2020 | Avada Theme by <a class="link-color"href="#">{{theme}}</a> | All Rights Reserved | Powered by <a class="link-color" href="#">{{word}}</a>
          </div>
      </footer>
      <!-- Try Buy Box -->
      <div class="try-buy">
        <div class="try">
          <div class="try-scroll-wrapper">
            <div class="scroll">
              <i class="fas fa-folder"></i>
              <i class="fas fa-folder"></i>
            </div>
          </div>
          <span class="spaceTry">Demos</span>
        </div>
        <div class="buy">
          <div class="buy-scroll-wrapper">
            <div class="scroll">
              <span class="price">39</span>
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
          <span class="spaceBuy">On Sale</span>
        </div>
      </div>

  <script type="text/javascript" src="./js/script.js"></script>
  </body>
</html>
